{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'styles/styles.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PhotoWebsite | Gallery</title>
</head>
<body>
    <div class="navbar">
        <div class="navbar-logo">
            <h1 class="logo" id="logo-main">PhotoWebsite</h1>
        </div>
    </div>
    <div class="content">
        <div class="navbar-nav">
            <ul class="nav-ul">
                <li class="nav-item">
                    <a href="#" class="nav-link" title="section-1">
                        section-1
                    </a>
                </li>
            </ul>
        </div>
        <div class="picture-section">
            <img src="{% static 'images/image7.jpeg' %}" alt="fukcin me" >
        </div>
    </div>
</body>
</html>